@page "{id}"
@model BazeApoteka.Pages.LekOpsirnoModel
@{
}
<form method="post">
    <input type="hidden" id="id" asp-for="@Model.Prosledjeno" />
    <div>
        <div class="font-weight-bold">Lista lekova</div>
        <br />
        <br />
        @if (Model.lekovi != null)
        {
            @foreach (BazeApoteka.Entiteti.Lek l in Model.lekovi)
            {
                <div>

                    <div class="font-weight-bold"> @l.GenerickiNaziv (@l.KomercijaniNaziv) @l.Doza mg </div>
                    <br />
                    <div class="font-weight-bold">Cena leka je @l.Cena rsd.</div>
                    <br />
                    <div>@l.Dejstvo</div>
                    <br />
                    <div class="font-weight-bold">Indikacije</div>
                    <div>@l.Indikacije</div>
                    <br />
                    <div class="font-weight-bold">Kontraindikacije</div>
                    <div>@l.Kontraindikacije</div>
                </div>
                            <br />
                            <br />
                            <div>_____________________________________________________</div>
                            <br />
            }
        }
        @if (Model.lekovi == null)
        {
            <div>Lek nije pronadjen!</div>
        }
    </div>
    <br />
    <div>
        <input type="submit" value="Nazad" asp-page="./Korisnik" />
    </div>
</form>